<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>sejAdmin</display-name>
	<!-- 设置session失效时间 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<error-page>
	    <error-code>404</error-code>
	    <location>/html/404.html</location>
	</error-page>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-mybatis.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

		<!-- 资源文件的解除拦截 -->
  	<servlet-mapping>
  		<servlet-name>default</servlet-name>
  		<url-pattern>/resources/*</url-pattern>
  	</servlet-mapping>
  <!-- 编码拦截控制 这个只能拦截post请求的数据 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring MVC servlet -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param> <!--   这边自定义名称是 在自定义 springMVC配置文件XML的名字，如果没有自定义的话  那就要求 文件名跟servlet名一样-->
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<!-- 此处可以可以配置成*.do，对应struts的后缀习惯  这边对什么都进行拦截 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>